/* navbar css */

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
   
}

.navbar-light .navbar-brand{
        color: #fff;
        font-size: 25px;
        text-transform:uppercase;
        font-weight: 700;
        letter-spacing: 2px;       
}


.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #fff;

}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: yellow;

}

.search{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 2px solid white;
    font-family: sans-serif;
}
.d-flex{
    padding-left: 50px;
}
.d-flex button{
    height: 40px;
    width: 40%;
    background-color: #fff;
    outline: none;
    border:none;
    font-weight: 700;
    border-radius: 10px;
}



 /* carousel */


 .carousel-item{
    height: 100vh;
    min-width: 300px;
 }

 .bg-1{
    background-image: url(../IMG/SAMPLE.png);
 }

 .bg-2{
    background-image: url(../IMG/SAMPLE.png);
 }

 .bg-3{
    background-image: url(../IMG/SAMPLE.png);
 }

.bg-1, .bg-2, .bg-3{
    background-size: cover;

}

 .carousel-caption{
    bottom: 220px;
    z-index: 2;
 }

 .carousel-caption h5{
    font-size: 85px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 25px;

 }

 .carousel-caption p{
    width: 70%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
 }


 .navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background:#fff;
}

/* product */

.product h1{
    font-weight: 500;
}

.product h6{
    font-weight: 300;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 20px;
}
.btn1:hover{
    background-color: rgb(58, 56, 56);
    transition: 0.5s; 
}

.bt1{
    height: 45px;
    width: 10%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 20px;

}

.bt1:hover{
    background-color: rgb(58, 56, 56);
    transition: 0.5s; 
}

.card:hover{
    box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.48);
    -webkit-box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.48);
    -moz-box-shadow: 5px 4px 18px 2px rgba(0,0,0,0.48);
    transition: 0.5s; 
}









@media only screen and (min-width: 768px) and (max-width: 991px){
    .navbar-nav{
        text-align: center;
    }
    .navbar-collapse{
        background:#fff;
    }

    .navbar-collapse .nav-item .nav-link{
        color: #000;  
    }

    .carousel-caption{
        bottom: 350px;
    }

    .carousel-caption h5{
         font-size: 65px;
    }

    .carousel-caption p{
        font-size: 18px;
        width: 100%;
    }

    .bg-1{
        background-image: url(../BOOKS/12rulesoflife.jpg);
    }
}


@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .navbar-collapse{
        background:#fff;
    }

    .navbar-collapse .nav-item .nav-link{
        color: #000;  
    }

    .carousel-caption{
        bottom: 350px;
    }

    .carousel-caption h5{
         font-size: 65px;
    }

    .carousel-caption p{
        font-size: 12px;
        width: 100%;
    }

    .bg-1{
        background-image: url(../BOOKS/12rulesoflife.jpg);
    }

}
    

