body{
    scroll-behavior: smooth;
}



/* navbar css */

.navbar{
    background-color: rgb(62,89,98);
    font-family: 'Times New Roman', Times, serif;
    height: 90px;
}



.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}

.btn0:hover{
background-color:rgb(13, 43, 36);
color: white;
}

.ft-rule{
    
    height: 1px;
    background: #a1a2a1;
    margin: 26px 10px 15px;
    max-width: 1600px;
    padding: 0 6.5%;
    align-items: center;
}

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing: 2px;   
}


.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #fff;

}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color:rgb(126, 186, 166);

}

.search{
    height: 40px;
    width: 120%;
    border-radius: 10px;
    outline: none;
    border: 2px solid white;
    font-family: 'Times New Roman', Times, serif;
}
.d-flex{
    padding-left: 50px;
}
.d-flex button{
    height: 40px;
    width: 40%;
    background-color: #fff;
    outline: none;
    border:none;
    font-weight: 500;
    border-radius: 10px;
}



 /* carousel */

.carousel-inner{
    margin-top: 90px;
}


.bt5{
    margin-bottom:180px;
    height: 60px;
    width: 20%;
    border: none;
    outline: none;
    background-color: rgb(13, 43, 36);
    color: white;
    font-weight: 700;
    border-style:double;
    font-family:'Times New Roman', Times, serif;
}

.bt5:hover{
        background-color: rgb(62,89,98);
        transition: 0.5s; 


}

#note{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
}



/* product */

.product{
    margin-top: 80px;
}

.product img{
    height: 250px;

}

.product h1{
    font-weight: 1000;
    color:rgb(14,44,37) ;
    font-family: 'Times New Roman', Times, serif;
}

.product .noted{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px
}

.product h6{
    color:rgb(14,44,37) ;
    font-weight: 500;
}
.product p{
    
    font-size: larger;
    font-weight: 400;
}

.product button{
    height: 40px;
    width: 70;
    background-color: rgb(19, 82, 67);
    color: white;
    font-weight: 600;
    border-style:double;
}

.product button:hover{
    background-color: rgb(62,89,98);
    transition: 0.5s; 

}

.product .searchbtn{
    margin-top: 40px;
    height: 40px;
    width: 70;
    background-color: rgb(19, 82, 67);
    color: white;
    font-weight: 600;
    border-style:double;
    border-radius: 10px;
}


/* Blog section */

#blogsection{
    margin-top: 210px;
}

#blogsection h6{
    font-weight: 900;
    color:rgb(14,44,37) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#blogsection h5{
    font-weight: 600;
    color:rgb(14,44,37) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}


/* CONTACT */


#contact{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: none;
    margin-bottom: 40px;
    padding: 20px;
}

#contact h1{
    font-weight: 600;
    color:rgb(14,44,37) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
#contact h6{
    font-weight: 600;
    color:rgb(14,44,37) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#contact p{
    
    font-size: larger;
    font-weight: 600px;
    color:rgb(14,44,37) ;
}

#contact .contactp{
    
    font-size: medium;
    font-weight: 600px;
    color:rgb(14,44,37) ;
}

#contact .card1{
    text-align:center;
    text-transform: uppercase;

}

#contact .card1 a{
    text-align:center;
    text-transform: uppercase;
    color: #000;

}
#contact .card2{
    margin-left: 70px;
}

#contact .card2 input {
    width: 60%;
    
}

.bt1{
    margin-top: 20px;
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    background-color:rgb(14,44,37);
    color: white;
    font-weight: 600;
    border-radius: 20px;

}

.bt1:hover{
    background-color:rgb(62,89,98);
    transition: 0.5s; 
}


/* NEWS SECTION */
.news h1{
    font-weight: 1000;
    color:rgb(14,44,37) ;
    font-family: 'Times New Roman', Times, serif;
}

.news{
    margin-top:120px;
}

.news p{
    
    font-size: larger;
    font-weight: 400;
}

.news input{
    width: 250px;
    height: 45px;
}

.news .newsbtn{
    margin: 10px;
    margin-top: 20px;
    height: 45px;
    width: 10%;
    border: none;
    outline: none;
    background-color:rgb(14,44,37);
    color: white;
    font-weight: 600;
}

.news .newsbtn:hover{
    background-color:rgb(62,89,98);
    transition: 0.5s; 
}

 /* randon buttons */

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 20px;
}
.btn1:hover{
    background-color: rgb(58, 56, 56);
    transition: 0.5s; 
}


.card:hover{
    box-shadow: 5px 4px 18px 2px rgb(14,44,37) ;
    -webkit-box-shadow: 5px 4px 18px 2px rgb(14,44,37) ;
    -moz-box-shadow: 5px 4px 18px 2px rgb(14,44,37) ;
    transition: 0.5s; 
}

/* FOOTER */
#footer{
margin-left: 20px;
}

#footer .footerp{
    margin-top: 10px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}
#footer .footerbtn {
    margin-top: 20px;
    width: 20%;
    border: none;
    outline: none;
    background-color:rgb(14,44,37);
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;

}

#footer .footerbtn:hover{
    background-color:rgb(62,89,98);
    transition: 0.5s; 
}

#footer .category{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(14,44,37);
    font-weight: 500;
}

#footer .ct1 li{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

#footer .card3 h5{
    margin-bottom: 20px;
}

#footer ul{

list-style-type:none;

}

#footer ul .ulhead{
    font-weight: 900;
    }
    
#lastline ul{
    display: flex;
    }
    
#lastline ul li{
    margin-inline: 10px;
}

#footer .card-title{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(14,44,37);
    font-weight: 900;
    font-size: medium;
}


#footer svg{
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#footer .last1{
    cursor: pointer; 
}


/* MOBILE RESPONSIVE CSS */

@media only screen and (max-width: 768px){
    .navbar-brand img{
        height: 50px;
    }

    
    .nav-link{
        background-color:rgb(14,44,37);
    }
    .navbar-toggler button{
        background-color: #fff;
    }
    
    #contact .card3 textarea {
        margin-top: 20px;
    }

    #contact .card3 .bt1{
        width: 100%;
        justify-content: center;
        align-items: center;
    }


        /* FOOTER */
    #footer svg{

        height: 15px;
        margin-bottom: 20px;
    }



    #footer .last1{
        height: 25px;
        margin-bottom: 10px;
    }
    .bt5{
        margin-bottom:180px;
        height: 60px;
        width: 20%;
        border: none;
        outline: none;
        background-color: rgb(13, 43, 36);
        color: white;
        font-weight: 700;
        border-style:double;
        font-family:'Times New Roman', Times, serif;
    }

    #footer .category { display:block;
        position: relative;
        color: rgb(28, 21, 37);
        background-color:rgb(201, 195, 200);
        padding: 4px;
        margin:10px;
        text-align: justify;
    }

    #lastline{
        font-size: 10px;
    }
    #copyright{
        font-size: 1px;
    }





}


    


